*{padding:0px; margin: 0px;}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:before,
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
.main-container{
    width:50%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
li{
    display: inline;
    float:left;
    padding:10px;
}
.header{
    background-color: aqua;
}